# https://help.github.com/en/actions/automating-your-workflow-with-github-actions
# https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-powershell
name: UltraTree-Windows-PowerShell
on:
  pull_request:
    paths-ignore:
      - '**.md'
      - 'docs/**'
  push:
    paths-ignore:
      - '**.md'
      - 'docs/**'
jobs:
  test:
    name: Run Tests
    runs-on: windows-latest
    strategy:
      fail-fast: false
    steps:
    - name: Check out repository
      uses: actions/checkout@v4
    - name: Display the path
      shell: powershell
      run: echo ${env:PATH}
    - name: Version Display
      shell: powershell
      run: $PSVersionTable
    - name: NuGet Latest
      shell: powershell
      run: Install-PackageProvider -Name "NuGet" -Confirm:$false -Force -Verbose
    - name: PowerShellGet Latest
      shell: powershell
      run: Install-Module -Name PowerShellGet -Repository PSGallery -Force
    - name: Bootstrap
      shell: powershell
      run: ./Module/actions_bootstrap.ps1
    - name: Test and Build
      shell: powershell
      run: Invoke-Build -File .\Module\src\UltraTree.build.ps1
    - name: Upload pester results
      uses: actions/upload-artifact@v4
      with:
        name: pester-results
        path: .\Module\src\Artifacts\testOutput
        if-no-files-found: warn
    - name: Upload zip module archive build
      uses: actions/upload-artifact@v4
      with:
        name: zip-archive
        path: .\Module\src\Archive
        if-no-files-found: warn
